<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='body.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"></script>

    <title>Homepage Sentiment Analysis</title>

</head>
<body>

  <!-- Head  -->

    <div class="header">
      <div class="row">
        <div class="text-center">
          <a href="/"><img class="img" src="{{url_for('static', filename='paragon-logo.png')}}" alt=""></a>
          <!-- tacticle removed **wink** -->
          <!-- <a href="/polocies" class="logo">PIU Sentimental Analysis</a> -->
        </div>
        <div class="text-center">
          <div class="fyp-txt header-right">CS402 - Final Year Project</div>
          <div class="by-txt header-right" > By: Porchhay Ngov & Sidaro Keo</div>
        </div>
      </div>
    </div>