<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='body.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='how-it-work.css')}}">
    <link rel="icon" href="{{url_for('static', filename='paragon.png')}}">


    <title>How it work</title>

</head>
<body>

  <!-- Header -->

  <div class="header">
    <div class="row">
      <div class="text-center">
        <img class="img" src="{{url_for('static', filename='paragon-logo.png')}}" alt="">
        <a href="/" class="logo">PIU Sentimental Analysis</a>
      </div>
      <div class="text-center">
        <div class="fyp-txt header-right">CS402 - Final Year Project</div>
      </div>
    </div>
  </div>

  <!--  -->

  <div class="container-back-home"><a href="/" class="back-home"> Back to homepage </a></div>
 
  <div class="whole-container-howItWorks">
    
    <div class="howItworks-Header-txt">How our software works</div>

    <div class="container-howItWorks">
      <div class="container-howItWorks-txt">1. First we were collecting data from people using google survey <i class="arrow right"></i> </div>
      <img class="img-responsive" src="{{url_for('static', filename='Google_Forms_logo_(2014-2020).svg.png')}}" alt="">
    </div>

    <div class="container-howItWorks">
      <div class="container-howItWorks-txt">2. From there we stores those data into the google spread sheet <i class="arrow right"></i></div>
      <img class="img-responsive" src="{{url_for('static', filename='Google_Sheets_logo_(2014-2020).svg.png')}}" alt=""></a>
    </div>

    <div class="container-howItWorks">
      <div class="container-howItWorks-txt">3. We query each data at a time from google spread sheet using our algorithm to evaluate the sentimental level of the data and convert it into a human readable
        form.<br>  Using the algorithm to determine which one of the 5 facility that the data is belong to. <i class="arrow right"></i></div>
      <a href="#"><img class="img-responsive" src="{{url_for('static', filename='software.png')}}" alt=""></a>
    </div>

    <div class="container-howItWorks">
      <div class="container-howItWorks-txt">4. Finally we categorized all the data and display as info-graphic on the website <i class="arrow right"></i> </div>
      <img class="img-responsive" src="{{url_for('static', filename='weblogo.png')}}" alt="">
    </div>
  </div>

   <!-- footer -->

   <div class="footer-container" >
    <div class="container-footer-row">
      <div>All rights reserved. Copyright © 2020 - 2021 Porchhay Ngov & Sidaro Keo</div>
    </div>
  </div>

</body>
</html>