<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='body.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='how-it-work.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"></script>

    <title>Homepage Sentiment Analysis</title>

</head>
<body>

  <!-- Head  -->

    <div class="header">
      <div class="row">
        <div class="text-center">
          <a href="/"><img class="img" src="{{url_for('static', filename='paragon-logo.png')}}" alt=""></a>
          <!-- tacticle removed **wink** -->
          <!-- <a href="/polocies" class="logo">PIU Sentimental Analysis</a> -->
        </div>
        <div class="text-center">
          <div class="by-txt header-right" > PIU Sentimental Analysis</div>
        </div>
      </div>
    </div>

  <!--  -->

  <div class="container-back-home"><a href="/" class="back-home"> Back to homepage </a></div>
 

  <div class="container-howItWorks">
    <div class="container-howItWorks-txt">1. First we were collecting data from people using google survey <i class="arrow right"></i> </div>
    <img class="img-responsive" src="{{url_for('static', filename='Google_Forms_logo_(2014-2020).svg.png')}}" alt="">
  </div>

  <div class="container-howItWorks">
    <div class="container-howItWorks-txt">2. From there we stores those data into the google spread sheet <i class="arrow right"></i></div>
    <img class="img-responsive" src="{{url_for('static', filename='Google_Sheets_logo_(2014-2020).svg.png')}}" alt=""></a>
  </div>

  <div class="container-howItWorks">
    <div class="container-howItWorks-txt">3. We query each data at a time from google spread sheet using our algorithm to evaluate the sentimental level of the data and convert it into a human readable
      form.<br>  Using the algorithm to determine which one of the 5 facility that the data is belong to. <i class="arrow right"></i></div>
    <a href="#"><img class="img-responsive" src="{{url_for('static', filename='Google_Sheets_logo_(2014-2020).svg.png')}}" alt=""></a>
  </div>

  <div class="container-howItWorks">
    <div class="container-howItWorks-txt">4. Finally we categorized all the data and display as info-graphic on the website <i class="arrow right"></i> </div>
    <img class="img-responsive" src="{{url_for('static', filename='Google_Sheets_logo_(2014-2020).svg.png')}}" alt="">
  </div>

   <!-- footer -->

   <div class="footer-container" >
    <div class="container-footer-row">
      <div>All rights reserved. Copyright © 2020 - 2021 Porchhay Ngov & Sidaro Keo</div>
    </div>
  </div>

</body>
</html>